<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'Text_Analyzer/Css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Text_Analyzer/Css/Style.css' %}">
    <link rel="stylesheet" href="{% static 'Text_Analyzer/Css/radio.css' %}">
    <title>Document</title>
</head>

<body>
    <!-- Main Section Start -->
    <section class="AnswerSection">
        <p class="answer">
            {% if answer == "Normal" %}
            Normal Text
            {% else %}
            Malicious Text
            {% endif %}
        </p>
        <a href="/" class="backbtn">Back</a>
    </section>
    <!-- Main Section End -->
    <script src="./Js/JQuery.js"></script>
    <script src="./Js/Bootstrap.min.js"></script>
    <script src="./Js/Main.js"></script>
</body>

</html>